body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
    }
    
    .container {
      text-align: center;
      max-width: 800px;
    }

    .container img {
      max-width: 100%;
      height: auto;
    }

    .container p {
      word-wrap: break-word;
    }

    .buttons {
      margin-top: 20px;
    }

    .buttons button {
      margin: 0 10px;
      padding: 10px 20px;
      cursor: pointer;
    }

button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    height: 50px;
}

button:hover {
    background-color: #555555;
    color: white;
}